<div class="container skills-container">
    <h3>{{ site.skills_title | default: "Technical Competencies" }}</h3>
    <div class="row clearfix experience">
        <div class="col-xs-12 col-sm-6 col-md-3 col-print-12 left-column"></div>
            <h4>Languages</h4>
            <ul>
            {% for language in site.data.skills.languages %}
            <li>{{ language }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-12 left-column"></div>
            <h4>Languages</h4>
            <ul>
            {% for language in site.data.skills.languages %}
            <li>{{ language }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-12 left-column"></div>
            <h4>Languages</h4>
            <ul>
            {% for language in site.data.skills.languages %}
            <li>{{ language }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-12 left-column"></div>
            <h4>Languages</h4>
            <ul>
            {% for language in site.data.skills.languages %}
            <li>{{ language }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

