<div class="container skills-container">
    <h3>{{ site.skills_title | default: "Technical Competencies" }}</h3>
    <div class="row clearfix experience">
        <div class="col-xs-12 col-sm-6 col-md-3 col-print-3 left-column">
            <h4>Languages</h4>
            <ul>
            {% for language in site.data.skills.languages %}
            <li>{{ language }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-3">
            <h4>Frameworks</h4>
            <ul>
            {% for framework in site.data.skills.frameworks %}
            <li>{{ framework }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-3">
            <h4>Datastores</h4>
            <ul>
            {% for datastore in site.data.skills.datastores %}
            <li>{{ datastore }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-print-3">
            <h4>Cloud Platforms</h4>
            <ul>
            {% for cloud in site.data.skills.clouds %}
            <li>{{ cloud }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

